<div style="padding-top: 50px;padding-left: 20%;padding-right: 20%;">
    <mat-card-title>Frequently Asked Questions</mat-card-title><br/><br/><br/>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem">
            <div class="mat-body-2">1. How long does COVID-19 Live on Surfaces?</div>
            Ans. 6 hours - 9 days on surfaces 
        </mat-list-item><br/>
        <mat-list-item role="listitem">
            2. What is the difference between a virus and bacteria? 
            Ans. Bacteria are self-contained, have cell walls, and can survive and replicate on their own. Viruses are DNA molecules that may be naked or encapsulated and require a host to replicate. They cannot be treated with antibiotics and require a vaccine 
        </mat-list-item><br/>
        <mat-list-item role="listitem">
            3. What is the biggest issue with this COVID-19 virus?
            Ans. High secondary infection rate, Rapid spread (more rapid than SARS or MERS), Fatality rate (2-3%) 
        </mat-list-item><br/>
        <mat-list-item>
            4. Is ultraviolet light effective against COVID-19? 
            Ans. Ultraviolet light destroys DNA of viruses, bacteria, and fungi
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </div>