<div style="padding-top: 50px;padding-left: 20%;padding-right: 20%;">
    <mat-card-title>Applications</mat-card-title><br/><br/><br/>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem">
            Killing or inactivating bacteria, viruses and other primitive organisms
        </mat-list-item><br/>
        <mat-list-item role="listitem">
            Air, water and surface disinfection in hospitals, bacteriological research and pharmaceutical environments, and food processing industries such as dairies, breweries and bakeries
        </mat-list-item><br/>
        <mat-list-item role="listitem">
            Disinfection of drinking water, waste water, swimming pools, air conditioning systems, cold storage rooms, packing materials etc.
        </mat-list-item><br/>
        <mat-list-item>
            Used in a variety of photochemical processes.
        </mat-list-item>
        <mat-list-item>
            Radiation of these lamps is harmful to eyes and skin. Installations with these lamps are to be screened off completely.
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </div>
  <div><img style="padding-left: 33.33%;" src="assets\img\app.png" width="500" height="500"></div>