<div style="padding-top: 50px;padding-left: 20%;padding-right: 20%;">
    <mat-card-title>Features & Benefits</mat-card-title><br/><br/><br/>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem">
            Emits short-wave UV radiation of 253.7 nanometers (nm) in the UV-C germicidal band width
        </mat-list-item><br/>
        <mat-list-item role="listitem">
            The glass in the light bulb filters out 185 nm ozone forming light
        </mat-list-item><br/>
        <mat-list-item role="listitem">
            This light bulb requires a ballast to operate.
        </mat-list-item><br/>
        <mat-list-item>
            Consistent output of UV-C wavelength of light lifetime
        </mat-list-item>
        <mat-list-item>
            Warning label on light indicates UV-C radiation output
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </div>